<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.dowob.twrb"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="2.1"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- ===== For public edition ===== -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

    <application
        android:name="com.dowob.twrb.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dowob.twrb.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dowob.twrb.TimetableActivity"/>

        <service android:name="com.dowob.twrb.AutoBook.DailyBookService"/>
        <service android:name="com.dowob.twrb.AutoBook.FrequentlyBookService"/>

        <!-- ========= For public edition ========= -->
        <!--<receiver-->
        <!--android:name=".BootReceiver"-->
        <!--android:enabled="true"-->
        <!--android:exported="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>
